.homehero {
  padding-block: 5vh;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  margin-block: 10vh;

  .homehero__container {
    margin-inline: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .homehero__text-container {
    width: 65%;
    @media (width < 1500px) {
      width: 57%;
  }
  }

  .homehero__title {
    font-family: var(--ff-header);
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: 0.5em;
  }

  .homehero__paragraphe {
    font-size: 1.25rem;
    max-width: 60%;
    margin-bottom: 1.5em;
  }

  .homehero__image-container {
    background-color: var(--clr-pink);
    border-top-left-radius: 50%;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    
  }

  .homehero__image {
    transform: translateX(-2rem);
  }

  .homehero__sun-SVG {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }

  .homehero__double-playSVG {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-4rem);
  }

  .homehero__button-container {
    position: relative;
  }

  .homehero__button {
    margin-inline: 6rem;
  }

  .homehero__arrow-SVG {
    position: absolute;
    bottom: 50;
    left: 50;
    transform: translateX(-50%) translateY(50%);
  }

  @media (max-width: 640px) {
    & {
      margin-block: 0;
    }

    .homehero__container {
      margin-inline: 0;
      align-items: center;
      justify-content: center;
    }

    .homehero__text-container {
      width: 80%;
      max-width: 100%;
    }

    .homehero__paragraphe {
      max-width: 100%;

      &:last-child {
        margin-bottom: 5rem;
      }
    }

    .homehero__title {
      font-size: 3rem;
    }

    .homehero__image-container {
      max-width: 50%;
      margin-bottom: 5rem;
    }

    .homehero__image {
      max-width: 100%;
      transform: translateX(-10%);
    }

    .homehero__sun-SVG {
      max-width: 50%;
    }

    .homehero__double-playSVG {
      max-width: 25%;
      transform: translateX(-2rem) translateY(2rem);
    }

    .homehero__button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .homehero__button {
      text-align: center;
      width: 80%;
      margin: 0;
    }

    .homehero__arrow-SVG {
      display: none;
    }
  }
}
