.card__container {
  max-width: 15rem;
  aspect-ratio: 6/7;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 4px 6px 0 black;
  border-radius: 10px;
  background-color: white;

  @media (width < 450px) {
    max-width: 80%;
}
  

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card__image {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .card__infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: 1em;
      font-family: var(--ff-header);

      .card__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1rem;
        gap: 0.5em;max-width: 50%;
        

        .card__article {
          font-weight: bold;
          
          
        }

        .card__price {
            font-family: var(--ff-body);
        }
      }

      .button {
        min-width: 50%;
        font-weight: bold;
        font-size: 1rem;

       
      }
    }
  }
}
