.showcase__hero__container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;

  a:-webkit-any-link {
    text-decoration: none;
  }
  .showcase__hero__title {
    display: flex;
    border: 3px solid black;
    border-radius: 1rem;
    box-shadow: 4px 6px 0 black;
    height: 6rem;
    background-color: var(--clr-green-pastel);
    width: 100%;
    align-items: center;
    margin-bottom: 3.5rem;
    h1 {
      margin: 0 auto;
      font-size: 3rem;
      font-family: var(--ff-header);
      font-weight: bold;
    }
    .showcase__hero__title__smiley {
      padding-right: 2rem;
    }
  }

  .showcase__hero__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    .showcase__hero__grid__left {
      position: relative;
      background-color: rgb(0, 0, 0);
      border: 3px solid black;
      border-radius: 1rem;
      box-shadow: 4px 6px 0 black;

      img {
        width: 100%;
        border-radius: 1rem;
      }
      .showcase__hero__grid__left__price {
        position: absolute;
        bottom: -4rem;
        left: -4rem;
      }
    }
    .showcase__hero__grid__right {
      position: relative;
      background-color: white;
      border: 3px solid black;
      border-radius: 1rem;
      box-shadow: 4px 6px 0 black;

      .showcase__hero__grid__right__title__container {
        margin: 0 2.5rem;
        display: flex;
        align-items: center;
        height: 15%;
        h2 {
          width: 85%;
          font-size: 2.5rem;
          font-weight: bold;
        }

        .showcase__hero__grid__right__svg {
          position: absolute;
          top: -1rem;
          right: -1rem;
        }
      }

      .showcase__hero__grid__right__paragraph {
        padding: 0 2.5rem;
        font-size: 1.85rem;
        height: 65%;
        line-height: 2.5rem;
      }

      .showcase__hero__grid__right__buy {
        width: 100%;
        height: 20%;
        background-color: var(--clr-orange);
        border: none;
        border-top: 3px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 12%;

        .showcase__hero__grid__right__buy__text {
          text-decoration: underline;
          font-size: 3rem;
        }
        .showcase__hero__grid__right__buy__prix {
          font-size: 3rem;
        }
      }
    }
  }

  /*                     mobile                */

  .showcase__hero__title--mobile {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 1rem;
    box-shadow: 4px 6px 0 black;
    height: 4rem;
    background-color: var(--clr-green-pastel);
    width: 100%;
    align-items: center;
    margin-bottom: 3.5rem;
    h1 {
      /* margin: 0 auto; */
      padding: 0 1rem;
      font-size: 2.3rem;
      font-family: var(--ff-header);
      font-weight: bold;
    }
    .showcase__hero__title__smiley {
      padding-right: 2rem;
    }
  }

  .showcase__hero__container--mobile {
    .showcase__hero__grid--mobile {
      /* display: grid; */
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      .showcase__hero__grid__left {
        position: relative;
        background-color: rgb(0, 0, 0);
        border: 3px solid black;
        border-radius: 1rem;
        box-shadow: 4px 6px 0 black;
        margin-bottom: 4rem;

        img {
          width: 100%;
        }
        .showcase__hero__grid__left__price {
          position: absolute;
          bottom: -3rem;
          left: -2rem;
        }
      }
      .showcase__hero__grid__right {
        position: relative;
        background-color: white;
        border: 3px solid black;
        border-radius: 1rem;
        box-shadow: 4px 6px 0 black;

        .showcase__hero__grid__right__title__container {
          margin: 2.5rem;
          display: flex;
          align-items: center;
          height: 15%;
          h2 {
            width: 85%;
            font-size: 2rem;
            font-weight: bold;
          }

          .showcase__hero__grid__right__svg {
            position: absolute;
            top: rem;
            right: 0;
          }
        }

        .showcase__hero__grid__right__paragraph {
          padding: 0 2.5rem;
          font-size: 1.3rem;
          height: 65%;
          line-height: 1.8rem;
          margin-bottom: 1rem;
        }

        .showcase__hero__grid__right__buy {
          width: 100%;
          height: 20%;
          background-color: var(--clr-orange);
          border: none;
          border-top: 3px solid black;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          .showcase__hero__grid__right__buy__text {
            padding: 4%;
            text-decoration: underline;
            font-size: 2rem;
            margin-right: 2rem;
          }
          .showcase__hero__grid__right__buy__prix {
            font-size: 2rem;
            margin-left: 2rem;
          }
        }
      }
    }
  }

  /*                     mobile                */
}
